{% extends 'base.html.twig' %}

{% block title %}Users List{% endblock %}

{% block body %}
    <h1>Users List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Create at</th>
                <th>Update at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_entity in user_entities %}
            <tr>
                <td>{{ user_entity.id }}</td>
                <td>{{ user_entity.email }}</td>
                <td>{{ user_entity.firstname }}</td>
                <td>{{ user_entity.lastname }}</td>
                <td>{{ user_entity.createAt ? user_entity.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user_entity.updateAt ? user_entity.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="fa fa-eye fa-lg mr-3" href="{{ path('user_entity_show', {'id': user_entity.id}) }}" title="Show"></a>
                    <a class="fa fa-pencil fa-lg" href="{{ path('user_entity_edit', {'id': user_entity.id}) }}" title="Edit"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No Records Found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-primary mr-2" href="{{ path('user_entity_new') }}">Create New</a>
{% endblock %}
