{% extends 'base.html.twig' %}

{% block title %}UserEntity{% endblock %}

{% block body %}
    <h1>UserEntity</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_entity.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user_entity.email }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user_entity.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user_entity.lastname }}</td>
            </tr>
            <tr>
                <th>Create_at</th>
                <td>{{ user_entity.createAt ? user_entity.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Update_at</th>
                <td>{{ user_entity.updateAt ? user_entity.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_entity_index') }}">back to list</a>

    <a href="{{ path('user_entity_edit', {'id': user_entity.id}) }}">edit</a>

    {{ include('user_entity/_delete_form.html.twig') }}
{% endblock %}
